{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ actualite.titre }}</h1>
        <hr>
        {{ actualite.contenu|raw }}
    </div>
{% endblock %}
