{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row g-5">
            <div class="col">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">{{ categorie.nom }}</h3>
                <div id="actualite-list">
                    {% include 'actualite/list.html.twig' with { actualites: categorie.actualites, leftCol: 4, rightCol: 8 } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
