<div class="p-4">
    <h4 class="fts-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Ceci est un test</a>
        <Li>
        <li>
            <a class="text-decoration-none" href="#">Ceci est un autre test</a>
        <Li>
    </ol>
</div>